<div ng-include="'rate/setting'"></div>
<div class="tab-content">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label">黑名单</label>

            <div class="col-sm-6">
                <input type="text" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">买家信誉过滤</label>

            <div class="col-sm-6">
                <input type="email" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-6">
                <button type="submit" class="btn btn-primary">保存</button>
            </div>
        </div>
    </form>
</div>