<form class="form-horizontal shelf-form" role="form">
    <div class="form-group">
        <label class="col-md-1 control-label">计划名称</label>

        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="plan.title" />
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-md-1 control-label">宝贝分类</label>

        <div class="col-md-6">
            <p class="form-control-static">共{{sellercatsNum}}个分类，{{sellercatsChildNum}}个子分类</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-6">
            <div class="checkbox" ng-repeat="sellercat in sellercats">
                <label>
                    <input type="checkbox" ng-model="sellerCatIds[sellercat.cid]" ng-change="selectSellerCat(sellercat)" />
                </label>
                <label ng-click="toggleSellerCat(sellercat)" >
                    <span ng-class="{'icon-caret-down': sellercat.expand, 'icon-caret-right': !sellercat.expand}"></span>
                    {{sellercat.name}} ({{sellercat.itemNum}})
                </label>
                <div class="checkbox" ng-show="sellercat.expand" ng-repeat="childCat in sellercat.children">
                    <label>
                        <input type="checkbox" ng-model="sellerCatIds[childCat.cid]" /> {{childCat.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail1" class="col-md-1 control-label">新上架宝贝</label>

        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="plan.auto" checked /> 自动加入
                </label>
            </div>
        </div>
    </div>
    {{sellerCatIds }}
    <div class="form-group form-action">
        <div class="col-md-offset-1 col-md-10">
            <button type="submit" class="btn btn-primary btn-md">创建计划</button>
            <a href="" ng-click="gotoFilter()">或筛选宝贝</a>
        </div>
    </div>
</form>