<div class="row" ng-show="setting.paused">
    <div class="well col-lg-5">
        自动橱窗推荐管理尚未开启
        <button class="btn btn-primary" ng-click="setPaused(false)">立刻开启</button>
    </div>
</div>
<form class="form-horizontal rule-form" name="form" novalidate ng-show="!setting.paused && sellerCats.$resolved">
    <div class="form-group">
        <label class="col-md-1 control-label">选择分类</label>

        <div class="col-md-6">
            <p class="form-control-static">共 {{sellerCats.parentLength}} 个分类，{{sellerCats.length - sellerCats.parentLength}} 个子分类</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label"></label>

        <div class="col-md-6">
            <div class="checkbox" ng-repeat="sellercat in sellerCats | filter:{parentCid:0}:true">
                <label>
                    <input type="checkbox" ng-model="sellercat.checked" ng-change="sellercat.toggleChecked()"/>
                </label>
                <label ng-click="sellercat.toggleExpand()">
                    <span>{{sellercat.name}} ({{sellercat.itemNum}})</span>
                    <span class="icon-caret-down"></span>
                </label>

                <div class="checkbox" ng-show="sellercat.expand"
                     ng-repeat="childCat in sellerCats | filter:{parentCid:sellercat.cid}:true">
                    <label>
                        <input type="checkbox" ng-model="childCat.checked" ng-change="childCat.toggleChecked()"/>
                        {{childCat.name}} ({{childCat.itemNum}})
                    </label>
                </div>
            </div>
            <input type="hidden" ng-model="setting.includeSellerCids" name="includeSellerCids" required/>
            <label class="error"><i class="icon-exclamation-sign"></i> 请选择分类</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">排除设置</label>

        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="setting.isExcludeItemDelistingWithin"/>
                    排除
                </label>
                <label>
                    <input type="number" ng-disabled="!setting.isExcludeItemDelistingWithin" min="1" max="5"
                           ng-model="setting.excludeItemDelistingWithin" class="form-control input-sm" name="xx"/>
                    分钟内要下架的商宝贝{{form.xx.$invalid}}
                </label>
            </div>
            <label class="error" ng-show="form.xx.$invalid"><i class="icon-exclamation-sign"></i> budui</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="setting.isExcludeItemInventoryLt"/>
                    排除库存低于
                </label>
                <label>
                    <input type="number" ng-disabled="!setting.isExcludeItemInventoryLt"
                           ng-model="setting.excludeItemInventoryLt" class="form-control input-sm" min="1" max="100"/> 的宝贝
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="setting.isExcludeItemDelistingAfter"/>
                    不推荐刚上架(剩余时间超过6天半)的宝贝
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-action">
        <div class="col-md-offset-1 col-md-10">
            <button class="btn btn-primary btn-lg" ng-click="save()">保存</button>
            <button class="btn btn-default btn-lg" ng-click="setPaused(true)">关闭自动推荐</button>
        </div>
    </div>
</form>