<h4>设置上架时间</h4>
<table>
    <col width="100px"/>
    <col width="200px"/>
    <col/>
    <tr ng-repeat="week in weeks">
        <td>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="week.checked" ng-change="checkWeek(week)"/> {{week.name}}
                </label>
            </div>
        </td>
        <td>
            <div ng-if="week.checked">
                {{distribution[week.value] | distributionText}}
            </div>
        </td>
        <td>
            <div ng-if="week.checked">
                <a href="" ng-click="showModal(week)">选择时间段</a>
            </div>
        </td>
    </tr>
</table>
<div class="form-action">
    <button class="btn btn-primary" ng-click="save()">保存</button>
    <a href="#/shelf/plan-setting">放弃</a>
</div>