<div class="modal-dialog shelf-distribution-modal">
    <div class="modal-content">
        <div class="modal-body">
            <ul class="nav nav-tabs clearfix">
                <li ng-class="{active: tab.active}" ng-repeat="tab in tabs">
                    <a href="" ng-click="selectTab(tab)">{{tab.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <table width="100%">
                    <tr ng-repeat="hour in hours">
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="distribution[hour]"/> {{hour}}:00 ~ {{hour+1}}:00
                                </label>
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="modal.close()">关闭</button>
        </div>
    </div>
</div>