<form class="form-horizontal plan-form" name="form" novalidate ng-show="sellerCats.$resolved">
    <div class="form-group">
        <label class="col-md-1 control-label">计划名称</label>

        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="planSetting.name" name="name" required />
            <label class="error"><i class="icon-exclamation-sign"></i> 请填写计划名称</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">宝贝分类</label>

        <div class="col-md-6">
            <p class="form-control-static">共 {{sellerCats.parentLength}} 个分类，{{sellerCats.length - sellerCats.parentLength}} 个子分类</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-6">
            <div class="checkbox" ng-repeat="sellercat in sellerCats | filter:{parentCid:0}:true">
                <label>
                    <input type="checkbox" ng-model="sellercat.checked" ng-change="sellercat.toggleChecked()" ng-disabled="sellercat.used && !sellercat.wasChecked"  />
                </label>
                <label ng-click="sellercat.toggleExpand()" >
                    <span>{{sellercat.name}} ({{sellercat.itemNum}})</span>
                    <span class="icon-caret-down"></span>
                </label>
                <div class="checkbox" ng-show="sellercat.expand" ng-repeat="childCat in sellerCats | filter:{parentCid:sellercat.cid}:true">
                    <label>
                        <input type="checkbox" ng-model="childCat.checked" ng-change="childCat.toggleChecked()" ng-disabled="childCat.used && !childCat.wasChecked" />
                        {{childCat.name}} ({{childCat.itemNum}})
                    </label>
                </div>
            </div>
            <input type="hidden" ng-model="planSetting.includeSellerCids" name="includeSellerCids" required />
            <label class="error"><i class="icon-exclamation-sign"></i> 请选择分类</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">新上架宝贝</label>

        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="planSetting.autoAddNewItems" /> 自动加入
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-action">
        <div class="col-md-offset-1 col-md-10">
            <button class="btn btn-primary btn-lg" ng-click="save()">{{ planSetting.id ? '保存' : '创建计划' }}</button>
        </div>
    </div>
</form>