<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trilemon.boss.inventory.dao.InventoryListSettingMapper" >
  <resultMap id="BaseResultMap" type="com.trilemon.boss.inventory.model.InventoryListSetting" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="include_seller_cids" property="includeSellerCids" jdbcType="VARCHAR" />
    <result column="include_banners" property="includeBanners" jdbcType="VARCHAR" />
    <result column="exclude_item_num_iids" property="excludeItemNumIids" jdbcType="VARCHAR" />
    <result column="auto_add_new_item" property="autoAddNewItem" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="distribution" property="distribution" jdbcType="VARCHAR" />
    <result column="list_type" property="listType" jdbcType="TINYINT" />
    <result column="last_plan_time" property="lastPlanTime" jdbcType="TIMESTAMP" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, include_seller_cids, include_banners, exclude_item_num_iids, auto_add_new_item, 
    status, distribution, list_type, last_plan_time, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.trilemon.boss.inventory.model.InventoryListSettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inventory_list_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inventory_list_setting
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    DELETE FROM inventory_list_setting
    WHERE id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.trilemon.boss.inventory.model.InventoryListSettingExample" >
    delete from inventory_list_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.trilemon.boss.inventory.model.InventoryListSetting" >
    INSERT INTO inventory_list_setting (id, user_id, include_seller_cids,
      include_banners, exclude_item_num_iids, auto_add_new_item, 
      status, distribution, list_type, 
      last_plan_time, add_time, upd_time
      )
    VALUES (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{includeSellerCids,jdbcType=VARCHAR},
      #{includeBanners,jdbcType=VARCHAR}, #{excludeItemNumIids,jdbcType=VARCHAR}, #{autoAddNewItem,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{distribution,jdbcType=VARCHAR}, #{listType,jdbcType=TINYINT}, 
      #{lastPlanTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trilemon.boss.inventory.model.InventoryListSetting" useGeneratedKeys="true"
          keyProperty="id">
    insert into inventory_list_setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="includeSellerCids != null" >
        include_seller_cids,
      </if>
      <if test="includeBanners != null" >
        include_banners,
      </if>
      <if test="excludeItemNumIids != null" >
        exclude_item_num_iids,
      </if>
      <if test="autoAddNewItem != null" >
        auto_add_new_item,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="distribution != null" >
        distribution,
      </if>
      <if test="listType != null" >
        list_type,
      </if>
      <if test="lastPlanTime != null" >
        last_plan_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="includeSellerCids != null" >
        #{includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="includeBanners != null" >
        #{includeBanners,jdbcType=VARCHAR},
      </if>
      <if test="excludeItemNumIids != null" >
        #{excludeItemNumIids,jdbcType=VARCHAR},
      </if>
      <if test="autoAddNewItem != null" >
        #{autoAddNewItem,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="distribution != null" >
        #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="listType != null" >
        #{listType,jdbcType=TINYINT},
      </if>
      <if test="lastPlanTime != null" >
        #{lastPlanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.trilemon.boss.inventory.model.InventoryListSettingExample" resultType="java.lang.Integer" >
    select count(*) from inventory_list_setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update inventory_list_setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.includeSellerCids != null" >
        include_seller_cids = #{record.includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="record.includeBanners != null" >
        include_banners = #{record.includeBanners,jdbcType=VARCHAR},
      </if>
      <if test="record.excludeItemNumIids != null" >
        exclude_item_num_iids = #{record.excludeItemNumIids,jdbcType=VARCHAR},
      </if>
      <if test="record.autoAddNewItem != null" >
        auto_add_new_item = #{record.autoAddNewItem,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.distribution != null" >
        distribution = #{record.distribution,jdbcType=VARCHAR},
      </if>
      <if test="record.listType != null" >
        list_type = #{record.listType,jdbcType=TINYINT},
      </if>
      <if test="record.lastPlanTime != null" >
        last_plan_time = #{record.lastPlanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update inventory_list_setting
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      include_seller_cids = #{record.includeSellerCids,jdbcType=VARCHAR},
      include_banners = #{record.includeBanners,jdbcType=VARCHAR},
      exclude_item_num_iids = #{record.excludeItemNumIids,jdbcType=VARCHAR},
      auto_add_new_item = #{record.autoAddNewItem,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      distribution = #{record.distribution,jdbcType=VARCHAR},
      list_type = #{record.listType,jdbcType=TINYINT},
      last_plan_time = #{record.lastPlanTime,jdbcType=TIMESTAMP},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.trilemon.boss.inventory.model.InventoryListSetting" >
    update inventory_list_setting
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="includeSellerCids != null" >
        include_seller_cids = #{includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="includeBanners != null" >
        include_banners = #{includeBanners,jdbcType=VARCHAR},
      </if>
      <if test="excludeItemNumIids != null" >
        exclude_item_num_iids = #{excludeItemNumIids,jdbcType=VARCHAR},
      </if>
      <if test="autoAddNewItem != null" >
        auto_add_new_item = #{autoAddNewItem,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="distribution != null" >
        distribution = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="listType != null" >
        list_type = #{listType,jdbcType=TINYINT},
      </if>
      <if test="lastPlanTime != null" >
        last_plan_time = #{lastPlanTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trilemon.boss.inventory.model.InventoryListSetting" >
    UPDATE inventory_list_setting
    SET user_id = #{userId,jdbcType=BIGINT},
      include_seller_cids = #{includeSellerCids,jdbcType=VARCHAR},
      include_banners = #{includeBanners,jdbcType=VARCHAR},
      exclude_item_num_iids = #{excludeItemNumIids,jdbcType=VARCHAR},
      auto_add_new_item = #{autoAddNewItem,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      distribution = #{distribution,jdbcType=VARCHAR},
      list_type = #{listType,jdbcType=TINYINT},
      last_plan_time = #{lastPlanTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    WHERE id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByUserIdSelective" parameterType="com.trilemon.boss.inventory.model.InventoryListSetting" >
        update inventory_list_setting
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="includeSellerCids != null" >
                include_seller_cids = #{includeSellerCids,jdbcType=VARCHAR},
            </if>
            <if test="includeBanners != null" >
                include_banners = #{includeBanners,jdbcType=VARCHAR},
            </if>
            <if test="excludeItemNumIids != null" >
                exclude_item_num_iids = #{excludeItemNumIids,jdbcType=VARCHAR},
            </if>
            <if test="autoAddNewItem != null" >
                auto_add_new_item = #{autoAddNewItem,jdbcType=TINYINT},
            </if>
            <if test="status != null" >
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="distribution != null" >
                distribution = #{distribution,jdbcType=VARCHAR},
            </if>
            <if test="listType != null" >
                list_type = #{listType,jdbcType=TINYINT},
            </if>
            <if test="lastPlanTime != null" >
                last_plan_time = #{lastPlanTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null" >
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updTime != null" >
                upd_time = #{updTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from inventory_list_setting
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="paginateUserIdByStatus" resultType="long" parameterType="map">
        select user_id
        from inventory_list_setting
        where user_id > #{hitUserId,jdbcType=BIGINT} and
        <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="statusList" item="status" separator="or">
                `status` = #{status,jdbcType=TINYINT}
            </foreach>
        </trim>
        group by user_id
        order by user_id asc
        LIMIT 0, #{limit,jdbcType=INTEGER}
    </select>
</mapper>