<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trilemon.boss360.showcase.dao.AdjustDetailMapper">
    <resultMap id="BaseResultMap" type="com.trilemon.boss360.showcase.model.AdjustDetail">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="item_num_iid" property="itemNumIid" jdbcType="BIGINT"/>
        <result column="adjust_type" property="adjustType" jdbcType="TINYINT"/>
        <result column="adjust_time" property="adjustTime" jdbcType="TIMESTAMP"/>
        <result column="add_time" property="addTime" jdbcType="TIMESTAMP"/>
        <result column="upd_time" property="updTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, user_id, item_num_iid, adjust_type, adjust_time, add_time, upd_time
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap"
            parameterType="com.trilemon.boss360.showcase.model.AdjustDetailExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from adjust_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from adjust_detail
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from adjust_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.trilemon.boss360.showcase.model.AdjustDetailExample">
        delete from adjust_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.trilemon.boss360.showcase.model.AdjustDetail">
    insert into adjust_detail (id, user_id, item_num_iid, 
      adjust_type, adjust_time, add_time, 
      upd_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{itemNumIid,jdbcType=BIGINT}, 
      #{adjustType,jdbcType=TINYINT}, #{adjustTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP}, 
      #{updTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.trilemon.boss360.showcase.model.AdjustDetail">
        insert into adjust_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="itemNumIid != null">
                item_num_iid,
            </if>
            <if test="adjustType != null">
                adjust_type,
            </if>
            <if test="adjustTime != null">
                adjust_time,
            </if>
            <if test="addTime != null">
                add_time,
            </if>
            <if test="updTime != null">
                upd_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="itemNumIid != null">
                #{itemNumIid,jdbcType=BIGINT},
            </if>
            <if test="adjustType != null">
                #{adjustType,jdbcType=TINYINT},
            </if>
            <if test="adjustTime != null">
                #{adjustTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updTime != null">
                #{updTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.trilemon.boss360.showcase.model.AdjustDetailExample"
            resultType="java.lang.Integer">
        select count(*) from adjust_detail
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update adjust_detail
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=BIGINT},
            </if>
            <if test="record.itemNumIid != null">
                item_num_iid = #{record.itemNumIid,jdbcType=BIGINT},
            </if>
            <if test="record.adjustType != null">
                adjust_type = #{record.adjustType,jdbcType=TINYINT},
            </if>
            <if test="record.adjustTime != null">
                adjust_time = #{record.adjustTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.addTime != null">
                add_time = #{record.addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.updTime != null">
                upd_time = #{record.updTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update adjust_detail
        set id = #{record.id,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=BIGINT},
        item_num_iid = #{record.itemNumIid,jdbcType=BIGINT},
        adjust_type = #{record.adjustType,jdbcType=TINYINT},
        adjust_time = #{record.adjustTime,jdbcType=TIMESTAMP},
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
        upd_time = #{record.updTime,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.trilemon.boss360.showcase.model.AdjustDetail">
        update adjust_detail
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="itemNumIid != null">
                item_num_iid = #{itemNumIid,jdbcType=BIGINT},
            </if>
            <if test="adjustType != null">
                adjust_type = #{adjustType,jdbcType=TINYINT},
            </if>
            <if test="adjustTime != null">
                adjust_time = #{adjustTime,jdbcType=TIMESTAMP},
            </if>
            <if test="addTime != null">
                add_time = #{addTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updTime != null">
                upd_time = #{updTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.trilemon.boss360.showcase.model.AdjustDetail">
    update adjust_detail
    set user_id = #{userId,jdbcType=BIGINT},
      item_num_iid = #{itemNumIid,jdbcType=BIGINT},
      adjust_type = #{adjustType,jdbcType=TINYINT},
      adjust_time = #{adjustTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByUserIdAndAdjustType" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from adjust_detail
        where user_id = #{userId,jdbcType=BIGINT}
        and adjust_type = #{adjustType,jdbcType=TINYINT}
    </select>
    <insert id="updateOrInsertByNumIid" parameterType="com.trilemon.boss360.showcase.model.AdjustDetail">
       insert into adjust_detail (id, user_id, item_num_iid, adjust_type, adjust_time, add_time, upd_time)
       values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{itemNumIid,jdbcType=BIGINT},
      #{adjustType,jdbcType=TINYINT}, #{adjustTime,jdbcType=TIMESTAMP}, #{addTime,jdbcType=TIMESTAMP},
      #{updTime,jdbcType=TIMESTAMP})
      ON DUPLICATE KEY UPDATE adjust_type=#{adjustType,jdbcType=TINYINT},adjust_time=#{adjustTime,jdbcType=TIMESTAMP}
    </insert>
</mapper>