<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trilemon.boss360.showcase.dao.SettingMapper" >
  <resultMap id="BaseResultMap" type="com.trilemon.boss360.showcase.model.Setting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="rule_type" property="ruleType" jdbcType="TINYINT" />
    <result column="min_sale_volume" property="minSaleVolume" jdbcType="INTEGER" />
    <result column="max_sale_volume" property="maxSaleVolume" jdbcType="INTEGER" />
    <result column="min_price" property="minPrice" jdbcType="DECIMAL" />
    <result column="max_price" property="maxPrice" jdbcType="DECIMAL" />
    <result column="include_keywords" property="includeKeywords" jdbcType="VARCHAR" />
    <result column="include_seller_cids" property="includeSellerCids" jdbcType="VARCHAR" />
    <result column="include_item_num_iids" property="includeItemNumIids" jdbcType="INTEGER" />
    <result column="exclude_item_delisting_within" property="excludeItemDelistingWithin" jdbcType="INTEGER" />
    <result column="exclude_item_inventory_lt" property="excludeItemInventoryLt" jdbcType="INTEGER" />
    <result column="exclude_item_delisting_after" property="excludeItemDelistingAfter" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, status, rule_type, min_sale_volume, max_sale_volume, min_price, max_price, 
    include_keywords, include_seller_cids, include_item_num_iids, exclude_item_delisting_within, 
    exclude_item_inventory_lt, exclude_item_delisting_after, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.trilemon.boss360.showcase.model.SettingExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from setting
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from setting
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.trilemon.boss360.showcase.model.SettingExample" >
    delete from setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.trilemon.boss360.showcase.model.Setting" >
    insert into setting (id, user_id, status, 
      rule_type, min_sale_volume, max_sale_volume, 
      min_price, max_price, include_keywords, 
      include_seller_cids, include_item_num_iids, 
      exclude_item_delisting_within, exclude_item_inventory_lt, 
      exclude_item_delisting_after, add_time, upd_time
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, 
      #{ruleType,jdbcType=TINYINT}, #{minSaleVolume,jdbcType=INTEGER}, #{maxSaleVolume,jdbcType=INTEGER}, 
      #{minPrice,jdbcType=DECIMAL}, #{maxPrice,jdbcType=DECIMAL}, #{includeKeywords,jdbcType=VARCHAR}, 
      #{includeSellerCids,jdbcType=VARCHAR}, #{includeItemNumIids,jdbcType=INTEGER}, 
      #{excludeItemDelistingWithin,jdbcType=INTEGER}, #{excludeItemInventoryLt,jdbcType=INTEGER}, 
      #{excludeItemDelistingAfter,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trilemon.boss360.showcase.model.Setting" >
    insert into setting
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="ruleType != null" >
        rule_type,
      </if>
      <if test="minSaleVolume != null" >
        min_sale_volume,
      </if>
      <if test="maxSaleVolume != null" >
        max_sale_volume,
      </if>
      <if test="minPrice != null" >
        min_price,
      </if>
      <if test="maxPrice != null" >
        max_price,
      </if>
      <if test="includeKeywords != null" >
        include_keywords,
      </if>
      <if test="includeSellerCids != null" >
        include_seller_cids,
      </if>
      <if test="includeItemNumIids != null" >
        include_item_num_iids,
      </if>
      <if test="excludeItemDelistingWithin != null" >
        exclude_item_delisting_within,
      </if>
      <if test="excludeItemInventoryLt != null" >
        exclude_item_inventory_lt,
      </if>
      <if test="excludeItemDelistingAfter != null" >
        exclude_item_delisting_after,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null" >
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="minSaleVolume != null" >
        #{minSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="maxSaleVolume != null" >
        #{maxSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="minPrice != null" >
        #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="includeKeywords != null" >
        #{includeKeywords,jdbcType=VARCHAR},
      </if>
      <if test="includeSellerCids != null" >
        #{includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="includeItemNumIids != null" >
        #{includeItemNumIids,jdbcType=INTEGER},
      </if>
      <if test="excludeItemDelistingWithin != null" >
        #{excludeItemDelistingWithin,jdbcType=INTEGER},
      </if>
      <if test="excludeItemInventoryLt != null" >
        #{excludeItemInventoryLt,jdbcType=INTEGER},
      </if>
      <if test="excludeItemDelistingAfter != null" >
        #{excludeItemDelistingAfter,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.trilemon.boss360.showcase.model.SettingExample" resultType="java.lang.Integer" >
    select count(*) from setting
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update setting
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.ruleType != null" >
        rule_type = #{record.ruleType,jdbcType=TINYINT},
      </if>
      <if test="record.minSaleVolume != null" >
        min_sale_volume = #{record.minSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="record.maxSaleVolume != null" >
        max_sale_volume = #{record.maxSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="record.minPrice != null" >
        min_price = #{record.minPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.maxPrice != null" >
        max_price = #{record.maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.includeKeywords != null" >
        include_keywords = #{record.includeKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.includeSellerCids != null" >
        include_seller_cids = #{record.includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="record.includeItemNumIids != null" >
        include_item_num_iids = #{record.includeItemNumIids,jdbcType=INTEGER},
      </if>
      <if test="record.excludeItemDelistingWithin != null" >
        exclude_item_delisting_within = #{record.excludeItemDelistingWithin,jdbcType=INTEGER},
      </if>
      <if test="record.excludeItemInventoryLt != null" >
        exclude_item_inventory_lt = #{record.excludeItemInventoryLt,jdbcType=INTEGER},
      </if>
      <if test="record.excludeItemDelistingAfter != null" >
        exclude_item_delisting_after = #{record.excludeItemDelistingAfter,jdbcType=INTEGER},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update setting
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      status = #{record.status,jdbcType=TINYINT},
      rule_type = #{record.ruleType,jdbcType=TINYINT},
      min_sale_volume = #{record.minSaleVolume,jdbcType=INTEGER},
      max_sale_volume = #{record.maxSaleVolume,jdbcType=INTEGER},
      min_price = #{record.minPrice,jdbcType=DECIMAL},
      max_price = #{record.maxPrice,jdbcType=DECIMAL},
      include_keywords = #{record.includeKeywords,jdbcType=VARCHAR},
      include_seller_cids = #{record.includeSellerCids,jdbcType=VARCHAR},
      include_item_num_iids = #{record.includeItemNumIids,jdbcType=INTEGER},
      exclude_item_delisting_within = #{record.excludeItemDelistingWithin,jdbcType=INTEGER},
      exclude_item_inventory_lt = #{record.excludeItemInventoryLt,jdbcType=INTEGER},
      exclude_item_delisting_after = #{record.excludeItemDelistingAfter,jdbcType=INTEGER},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.trilemon.boss360.showcase.model.Setting" >
    update setting
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="ruleType != null" >
        rule_type = #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="minSaleVolume != null" >
        min_sale_volume = #{minSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="maxSaleVolume != null" >
        max_sale_volume = #{maxSaleVolume,jdbcType=INTEGER},
      </if>
      <if test="minPrice != null" >
        min_price = #{minPrice,jdbcType=DECIMAL},
      </if>
      <if test="maxPrice != null" >
        max_price = #{maxPrice,jdbcType=DECIMAL},
      </if>
      <if test="includeKeywords != null" >
        include_keywords = #{includeKeywords,jdbcType=VARCHAR},
      </if>
      <if test="includeSellerCids != null" >
        include_seller_cids = #{includeSellerCids,jdbcType=VARCHAR},
      </if>
      <if test="includeItemNumIids != null" >
        include_item_num_iids = #{includeItemNumIids,jdbcType=INTEGER},
      </if>
      <if test="excludeItemDelistingWithin != null" >
        exclude_item_delisting_within = #{excludeItemDelistingWithin,jdbcType=INTEGER},
      </if>
      <if test="excludeItemInventoryLt != null" >
        exclude_item_inventory_lt = #{excludeItemInventoryLt,jdbcType=INTEGER},
      </if>
      <if test="excludeItemDelistingAfter != null" >
        exclude_item_delisting_after = #{excludeItemDelistingAfter,jdbcType=INTEGER},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trilemon.boss360.showcase.model.Setting" >
    update setting
    set user_id = #{userId,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      rule_type = #{ruleType,jdbcType=TINYINT},
      min_sale_volume = #{minSaleVolume,jdbcType=INTEGER},
      max_sale_volume = #{maxSaleVolume,jdbcType=INTEGER},
      min_price = #{minPrice,jdbcType=DECIMAL},
      max_price = #{maxPrice,jdbcType=DECIMAL},
      include_keywords = #{includeKeywords,jdbcType=VARCHAR},
      include_seller_cids = #{includeSellerCids,jdbcType=VARCHAR},
      include_item_num_iids = #{includeItemNumIids,jdbcType=INTEGER},
      exclude_item_delisting_within = #{excludeItemDelistingWithin,jdbcType=INTEGER},
      exclude_item_inventory_lt = #{excludeItemInventoryLt,jdbcType=INTEGER},
      exclude_item_delisting_after = #{excludeItemDelistingAfter,jdbcType=INTEGER},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>