<div class="wrap" ng-if="nav == 'setting'">
    <h3>选择模板</h3>
    <ul class="nav nav-pills">
        <li ng-class="{'active': !$routeParams.topic}">
            <a href="" ng-click="getByTopic()" ng-click="getByTopic()">全部</a>
        </li>
        <li ng-repeat="topic in topics" ng-class="{'active': topic.id == $routeParams.topic}">
            <a href="" ng-click="getByTopic(topic.id)">{{ topic.name }}</a>
        </li>
    </ul>
</div>

<div class="wrap" ng-if="nav == 'list'">
    <select ng-model="type" ng-change="getByType(type)" class="form-control" style="width:auto">
        <option value="">所有模板</option>
        <option value="used">我用过的模板</option>
        <option value="favorite">我的收藏</option>
        <option value="latest">最新模板</option>
    </select>
</div>

<div class="row wrap">
    <div ng-repeat="tpl in templates" class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="text-center" style="background: #eee">
                <img ng-src="/assets/template/img/{{tpl.previewPicUrl}}" style="height:245px;"/>
            </div>
            <div class="caption">
                <p>

                </p>

                <p class="text-center">
                    <a ng-href="#/poster/select-item?templateId={{tpl.id}}" class="btn btn-primary"
                       style="margin-right:20px;">开始制作</a>
                    <a href="" class="btn btn-default" ng-class="{active: tpl.favorite}"
                       ng-click="setFav(tpl, !tpl.isFavorite)">
                        <i class="icon-star" ng-class="{'icon-star-empty': !tpl.favorite}"></i>
                        收藏
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pagination-wrap clearfix">
    <pagination class="pull-right" items="templates" pager-click="jumpPage(page)"></pagination>
</div>

