<div class="wrap">
    <h3>预览 <small ng-if="activity.title">“{{ activity.title }}”</small></h3>
</div>
<div class="wrap" compile-template="template.templateFtl" compile-output="activity.publishHtml">

</div>
<form class="form-horizontal" name="form" novalidate>
    <div class="form-group">
        <label class="col-md-1 control-label">尺寸</label>

        <div class="col-md-6">
            <label class="radio-inline">
                <input type="radio" ng-model="activity.size" value="750"> 750
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="activity.size" value="950"> 950
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">海报名称</label>

        <div class="col-md-6">
            <input type="text" required name="title" ng-model="activity.title" class="form-control"/>
            <label class="error" ng-show="form.title.$invalid"><i class="icon-exclamation-sign"></i> 请输入海报名称</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">海报代码</label>

        <div class="col-md-6">
            <p class="form-control-static">
                <a href="" ng-click="showCode(activity)">查看 HTML</a>
            </p>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-1 col-md-6">
            <button class="btn btn-primary" ng-click="save()">下一步</button>
            &nbsp;&nbsp;<a ng-href="#/poster/select-item?activityId={{activity.id}}">返回</a>
        </div>
    </div>
</form>