<div class="wrap">
    <h3>选择模板</h3>
    <ul class="nav nav-pills">
        <li ng-class="{'active': !$routeParams.topic}">
            <a href="" ng-click="getByTopic()" ng-click="getByTopic()">全部</a>
        </li>
        <li ng-repeat="topic in topics"  ng-class="{'active': topic.id == $routeParams.topic}">
            <a href="" ng-click="getByTopic(topic.id)">{{ topic.name }}</a>
        </li>
    </ul>
</div>

<div class="row">
    <div ng-repeat="tpl in templates" class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <div class="text-center" style="background: #eee">
            <img ng-src="/assets/template/img/{{tpl.previewPicUrl}}" style="height:245px;" />
            </div>
            <div class="caption">
                <p>

                </p>
                <p class="text-center">
                    <a ng-href="#/poster/select-item?templateId={{tpl.id}}" class="btn btn-primary" style="margin-right:20px;">开始制作</a>
                    <a href="#" class="btn btn-default">收藏模板</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pagination-wrap clearfix">
    <pagination class="pull-right" items="templates" pager-click="jumpPage(page)"></pagination>
</div>

