<form class="form-horizontal" name="form" novalidate ng-show="distribution.$resolved">
    <div class="form-group">
        <label class="col-md-1 control-label">上架时间</label>

        <div class="col-md-6">
            <table>
                <col width="100px"/>
                <col width="200px"/>
                <col/>
                <tr ng-repeat="day in distribution">
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="day.checked" ng-change="day.toggleChecked()"/>
                                {{day.name}}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div ng-if="day.checked">
                            {{day.hours | distributionText}}
                        </div>
                    </td>
                    <td>
                        <div ng-if="day.checked">
                            <a href="" ng-click="showModal(day)">选择时间段</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">上架频率</label>

        <div class="col-md-6">
            <p class="form-control-static">所选时间段均匀上架 （非定时上架的宝贝）</p>
        </div>
    </div>
    <div class="form-group">

        <div class="col-md-offset-1 col-md-6">
            <button class="btn btn-primary" ng-click="save()">保存</button>
            <a href="#/inventory/setting">放弃</a>
        </div>
    </div>
</form>