<div class="row" ng-show="setting.empty">
    <div class="well col-lg-5">
        还没有仓库宝贝上架计划呢
        <button class="btn btn-primary" ng-click="setting.$save()">立刻创建</button>
    </div>
</div>
<div class="well well-sm clearfix" ng-show="setting.$resolved">
    <form class="form-horizontal">
        <div class="form-group" ng-if="setting.paused">
            <div class="col-md-offset-2 col-md-4">
                <p class="form-control-static text-warning"><i class="icon-warning-sign"></i> 计划尚未启用</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">创建时间：</label>
            <div class="col-md-4">
                <p class="form-control-static">{{setting.addTime | date:'yyyy-MM-dd HH:mm'}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">宝贝范围：</label>
            <div class="col-md-4">
                <p class="form-control-static">{{ includeBannersText.join('，') }}</p>
            </div>
            <div class="col-md-1" ng-if="!setting.paused">
                <a href="#/inventory/setting/edit">修改</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">时间段：</label>
            <div class="col-md-4">
                <p class="form-control-static">{{ distributionText.join('，') }}</p>
            </div>
            <div class="col-md-1" ng-if="!setting.paused">
                <a href="#/inventory/distribution">修改</a>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">上架频率：</label>
            <div class="col-md-10">
                <p class="form-control-static">所选时间段均匀上架</p>
            </div>
        </div>
        <div class="pull-right">
            <button class="btn btn-default" ng-if="!setting.paused" ng-click="togglePaused()">停用计划</button>
            <button class="btn btn-primary" ng-if="setting.paused" ng-click="togglePaused()">启用计划</button>
        </div>
    </form>
</div>
<div ng-controller="inventory.indexItem">
    <form class="form-inline wrap" ng-submit="search()">
        <div class="form-group">
            <select class="form-control" ng-model="banner" ng-change="changeBanner()" ng-options="value as text for (value, text) in BANNER">
                <option value="">全部上架宝贝</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="status" ng-change="changeStatus()" ng-options="value as text for (value, text) in STATUS">
                <option value="">全部状态</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="宝贝标题、编号" maxlength="20" ng-model="searchKey"/>
        </div>
        <button type="submit" class="btn btn-primary">搜 索</button>
    </form>
    <table class="table table-hover">
        <col width="15%"/>
        <col/>
        <col width="10%"/>
        <col width="15%"/>
        <col width="10%"/>
        <thead>
        <tr>
            <th>图片</th>
            <th>宝贝名称</th>
            <th class="text-right">库存</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in items" ng-class="{success:item.include}">
            <td><img ng-src="{{item.itemPicUrl}}_sum.jpg" ng-if="item.itemPicUrl"/></td>
            <td>{{ item.itemTitle }}</td>
            <td class="text-right">{{ item.price }}</td>
            <td>{{ STATUS[item.status] }}</td>
            <td>
                <a href="" ng-click="setInclude(item, true)">立即上架</a>
                <a href="" ng-click="remove(item)">移除</a>
            </td>
        </tr>
    </table>
    <div class="pagination-wrap clearfix">
        <pagination class="pull-right" items="items" pager-click="jumpPage(page)"></pagination>
    </div>
</div>