<div class="well well-sm">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label">创建时间：</label>
            <div class="col-md-10">
                <p class="form-control-static">2012</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">宝贝范围：</label>
            <div class="col-md-10">
                <p class="form-control-static">我下架的、从未上架的</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">时间段：</label>
            <div class="col-md-10">
                <p class="form-control-static">周一、周二</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">上架频率：</label>
            <div class="col-md-10">
                <p class="form-control-static">所选时间段均匀上架</p>
            </div>
        </div>
    </form>
</div>
<div class="tab-content">
    <form class="form-inline wrap" role="form" ng-submit="search()">
        <div class="form-group">
            <select class="form-control" ng-model="category" ng-change="changeCategory()">
                <option value="onsale">全部待上架宝贝</option>
                <option value="inventory">我上架的</option>
                <option value="inventory">从未上架的</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" ng-model="status" ng-change="changeStatus()">
                <option value="onsale">全部状态</option>
                <option value="inventory">已上架</option>
                <option value="inventory">未上架</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="宝贝标题、编号" maxlength="20" ng-model="searchKey"/>
        </div>
        <button type="submit" class="btn btn-primary">搜 索</button>
    </form>
    <table class="table table-hover">
        <col width="15%"/>
        <col/>
        <col width="10%"/>
        <col width="15%"/>
        <col width="10%"/>
        <thead>
        <tr>
            <th>图片</th>
            <th>宝贝名称</th>
            <th class="text-right">库存</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr ng-repeat="item in items" ng-class="{success:item.include}">
            <td><input type="checkbox" ng-model="item.checked" ng-change="toggleChecked()"/></td>
            <td><img ng-src="{{item.picUrl}}_sum.jpg" ng-if="item.picUrl"/></td>
            <td>{{ item.title }}</td>
            <td class="text-right">{{ item.price }}</td>
            <td>{{ item.status }}</td>
            <td>
                <a ng-if="!item.include" href="" ng-click="setInclude(item, true)">加入固定推荐</a>
                <a ng-if="item.include" href="" ng-click="setInclude(item, false)">取消固定推荐</a>
            </td>
        </tr>
    </table>
    <div class="pagination-wrap clearfix">
        <pagination class="pull-right" items="items" pager-click="jumpPage(page)"></pagination>
    </div>
</div>