@charset "utf-8";

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

// banner
.trilemon-banner {
  background: #563d7c;
  border-bottom: 1px solid #463265;
  margin-bottom: 0;

  a {
    color: #fff;
  }

  .logo {
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    float: left;
  }
}

// 导航
.trilemon-navbar {
  margin-bottom: 50px;

  .dropdown-toggle {
    color: #000;
    font-size: 18px;
  }
}

// 计划的表单
.plan-form {
  .control-label {
    width: 9%
  }
}

input.ng-invalid.ng-dirty {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.ng-invalid.ng-dirty:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error {
  display: none;
  color: red;
}

.ng-invalid.ng-dirty + .error {
  display: block;
}

.form-action {
  margin-top: 30px;
}

// 筛选宝贝的搜索表单
.shelf-filter-form {
  width: 400px;
  margin-bottom: 20px;
}

//.fade {
//  filter: alpha(opacity=0);
//}

.ajax-spinner {
  position: absolute;
  left: 50%;
  top: 100px;
  width: 300px;
  margin-left: -150px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.icon-spinner {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

//.ajax-spinner.in {
//  filter: alpha(opacity=30);
//}

.confirm-dialog {
  width: 300px;
  padding-top: 60px;

  .modal-footer {
    padding: 14px 20px 15px;
  }
}

footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
}

footer .container {
  margin: 40px auto;
}