@charset "UTF-8";
body { font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif; }

.trilemon-banner { background: #563d7c; border-bottom: 1px solid #463265; margin-bottom: 0; }
.trilemon-banner a { color: #fff; }
.trilemon-banner .logo { padding: 15px 15px; font-size: 18px; line-height: 20px; float: left; }

.trilemon-navbar { margin-bottom: 50px; }
.trilemon-navbar .dropdown-toggle { color: #000; font-size: 18px; }

.plan-form .control-label { width: 9%; }

.error { display: none; color: red; }

.has-error .error { display: block; }

.form-action { margin-top: 30px; }

.shelf-filter-form { width: 400px; margin-bottom: 20px; }

.ajax-spinner { position: absolute; left: 50%; top: 100px; width: 300px; margin-left: -150px; background: rgba(0, 0, 0, 0.4); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); border-radius: 5px; color: white; text-align: center; padding: 5px 0; }

.icon-spinner { -webkit-animation: spin 1s infinite linear; -moz-animation: spin 1s infinite linear; animation: spin 1s infinite linear; }

.confirm-dialog { width: 300px; padding-top: 60px; }
.confirm-dialog .modal-footer { padding: 14px 20px 15px; }

footer { margin-top: 50px; border-top: 1px solid #eee; }

footer .container { margin: 40px auto; }
