@charset "utf-8";

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.trilemon-banner {
  background: #563d7c;
  border-bottom: 1px solid #463265;
  margin-bottom: 0;

  a {
    color: #fff;
  }

  .logo {
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    float: left;
  }
}

.trilemon-navbar {
  margin-bottom: 50px;

  .dropdown-toggle {
    color: #000;
    font-size: 18px;
  }
}

.caret-right {
  border-left: 4px solid #000;
  border-right: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.shelf-form {
  .control-label {
    width: 9%
  }
  .form-action {
    margin-top: 30px;
  }
}

.shelf-filter-form {
  width: 400px;
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
}

footer .container {
  margin: 40px auto;
}