@charset "utf-8";

// 变量，包括覆盖的 bs 的变量
$banner-bg: #242d3c;
$navbar-height: 40px;
$navbar-border-radius: 0;
$navbar-default-bg: #7accc8 !default;
$navbar-default-link-color: #333 !default;
$navbar-default-link-hover-color: #fff !default;
$navbar-default-link-active-color: #242D3C;
$navbar-default-link-active-bg: #fff;
$navbar-padding-vertical: 10px;

// 引入
@import "../base/css/bootstrap/bootstrap";
@import "./util";
@import "./form";
@import "./shelf";

// 全局
body {
  font-family: Helvetica, Tahoma, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif;
}

h1, h2, h3 {
  font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

textarea {
  resize: none;
}


// === IE7 START ===
button.btn {
  *overflow: visible;
}

.btn-group {
  *display: inline;
  *zoom: 1;
}

.btn-group.open {
  *z-index: 10;
}

button {
  *display: inline;
  *zoom: 1;
}
// === IE7 END ===

.container {
  width: 990px;
  margin: 0 auto;
}

.form-inline .form-group {
  margin: 0;
}

// inline 的输入框
input.form-control-inline {
  @include inline-block;
  width: 60px;
}

input.ng-invalid.ng-dirty {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.ng-invalid.ng-dirty:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error {
  display: none;
  color: red;
}

.ng-invalid.ng-dirty + .error {
  display: block;
}

.wrap {
  padding: 10px 0;
}

.pagination {
  margin: 0;
}

// banner
.trilemon-banner {
  background: $banner-bg;
  height: 70px;
  padding: 10px;
  margin-bottom: 0;

  .logo {
    @include inline-block;
    width: 178px;
    height: 46px;
    overflow: hidden;
    background: url("../ico/logo.png") 0 0 no-repeat;
  }
}

// 导航 nav
.trilemon-navbar {
  margin-bottom: 40px;
  border: 0;

  .dropdown-toggle {
    color: #000;
    font-size: 18px;
  }

  .navbar-nav>li>a.nav-menu-trigger {
    background: #298c92;
    font-weight: bold;
    color: #fff;
    padding-right: 50px;
    font-family: "Microsoft YaHei", "微软雅黑";

    &:hover {
      background: #298c92;
    }
  }
}

// ajax 提示器
.ajax-spinner {
  position: absolute;
  left: 50%;
  top: 74px;
  width: 300px;
  margin-left: -150px;
  border-radius: 0 0 5px 5px;
  color: #c09853;
  text-align: center;
  padding: 12px 0 2px 0;
  background: #FCF6CF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  z-index: -1;

  -webkit-transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .icon-spin {
    -webkit-animation: spin 0.7s infinite linear;
    animation: spin 0.7s infinite linear;
  }
}

.ajax-spinner.show {
  top: 100px;
  margin-right: 5px;
}

// 页脚
footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;

  a, span {
    @include inline-block;
    margin: 0 5px;
  }
}

// 橱窗的搜索表单
.showcase-search-form {
  margin-bottom: 20px;
}

// 橱窗规则表单
.rule-form {
  // inline 的输入框
  .input-sm {
    display: inline;
    width: 80px;
    margin: 0 5px;
    height: 25px;
    padding: 2px 10px;
  }
}

// 自动评价的评价内容表单
.setting-item {
  margin-bottom: 20px;
}

// 买家黑名单
.blacklist {
  display: inline-block;
  background: lighten(black, 20%);
  color: white;
  font-size: 100%;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  a {
    color: lighten(gray, 20%);
    margin-left: 10px;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

.modal-dialog.confirm-dialog {
  width: 300px;
  padding-top: 60px;

  .modal-footer {
    padding: 14px 20px 15px;
  }
}

.normal-link {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}