@charset "utf-8";

body {
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

textarea {
  resize: none;
}

// banner
.trilemon-banner {
  background: #563d7c;
  border-bottom: 1px solid #463265;
  margin-bottom: 0;

  a {
    color: #fff;
  }

  .logo {
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    float: left;
  }
}

// 导航
.trilemon-navbar {
  margin-bottom: 30px;

  .dropdown-toggle {
    color: #000;
    font-size: 18px;
  }
}

// 计划的表单
.plan-form {
  .control-label {
    width: 9%
  }
}

// 筛选宝贝的搜索表单
.shelf-filter-form {
  width: 400px;
  margin-bottom: 20px;
}

// 橱窗的搜索表单
.showcase-search-form {
  margin-bottom: 20px;
}

// 橱窗规则表单
.rule-form {
  // inline 的输入框
  .input-sm {
    display: inline;
    width: 80px;
    margin: 0 5px;
    height: 25px;
    padding: 2px 10px;
  }
}

// 自动评价的评价内容表单
.setting-item {
  margin-bottom: 20px;
}

// 买家黑名单
.blacklist {
  display: inline-block;
  background: lighten(black, 20%);
  color: white;
  font-size: 100%;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  a {
    color: lighten(gray, 20%);
    margin-left: 10px;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}

// inline 的输入框
input.form-control-inline {
  display: inline-block;
  width: 60px;
}

input.ng-invalid.ng-dirty {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

input.ng-invalid.ng-dirty:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error {
  display: none;
  color: red;
}

.ng-invalid.ng-dirty + .error {
  display: block;
}

.form-action {
  margin-top: 30px;
}

.wrap {
  margin-bottom: 20px;
}

// ajax 提示器
.ajax-spinner {
  position: absolute;
  left: 50%;
  top: 60px;
  width: 300px;
  margin-left: -150px;
  border-radius: 0 0 5px 5px;
  color: #c09853;
  text-align: center;
  padding: 12px 0 2px 0;
  background: #FCF6CF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  -webkit-transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .icon-spin {
    -webkit-animation: spin 0.7s infinite linear;
    animation: spin 0.7s infinite linear;
  }
}

.ajax-spinner.show {
  top: 93px;
  margin-right: 5px;
}

.pagination-wrap {
  .pagination {
    margin: 0;
  }
}

.modal-dialog.confirm-dialog {
  width: 300px;
  padding-top: 60px;

  .modal-footer {
    padding: 14px 20px 15px;
  }
}

footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
}

footer .container {
  margin: 40px auto;
}

.normal-link {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}