<div class="alert alert-success" ng-if="flashSuccess">{{flashSuccess}}系统已经对宝贝进行了智能上架分配。可以手动设置上架时间。</div>
<table class="table table-hover">
    <col width="15%"/>
    <col />
    <col />
    <col />
    <col />
    <col width="20%"/>
    <thead>
    <tr>
        <th>计划名称</th>
        <th>宝贝数量</th>
        <th>新上架宝贝</th>
        <th>进度</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr ng-repeat="planSetting in planSettings">
        <td>{{ planSetting.name }}</td>
        <td>{{ planSetting.itemNum }}</td>
        <td>{{ planSetting.newItemNum }} 个宝贝自动加入</td>
        <td>{{ planSetting.waitAdjustItemNum }} 个宝贝等待调整</td>
        <td>
            {{ planSetting.addTime | date:'yyyy-MM-dd HH:ss' }}
        </td>
        <td>
            <a href="">暂停</a>
            <a href="" ng-click="delete(planSetting)">删除</a>
            <a ng-href="#/plan-setting/{{planSetting.id}}/edit">查看编辑</a>
            <a href="" ng-click="showFilterModal(planSetting)">筛选宝贝</a>
        </td>
    </tr>
</table>
<div class="pull-right">
    <pagination items="planSettings" pager-click="jumpPage(page)"></pagination>
</div>