<div class="alert alert-success" ng-if="flashSuccess">{{flashSuccess}}系统已经对宝贝进行了智能上架分配。可以手动设置上架时间。</div>
<div ng-show="planSettings.length>0">
    <a class="pull-right" href="" ng-click="showChart()">当前上下架统计</a>
</div>
<table ng-show="planSettings.length>0" class="table table-hover">
    <col width="120px"/>
    <col/>
    <col/>
    <col/>
    <col/>
    <col width="280px"/>
    <thead>
    <tr>
        <th>计划名称</th>
        <th>宝贝数量</th>
        <th>新上架宝贝</th>
        <th>进度</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tr ng-repeat="planSetting in planSettings" ng-class="{danger: (planSetting.status === PLAN_STATUS.PAUSED)}">
        <td>{{ planSetting.name }}</td>
        <td>{{ planSetting.itemNum }}</td>
        <td>{{ planSetting.newItemNum }} 个宝贝自动加入</td>
        <td>{{ planSetting.waitAdjustItemNum }} 个宝贝等待调整</td>
        <td>
            {{ planSetting.addTime | date:'yyyy-MM-dd HH:ss' }}
        </td>
        <td>
            <button class="btn btn-primary" ng-click="pause(planSetting, true)" ng-if="planSetting.status != PLAN_STATUS.PAUSED">
                <i class="icon-pause"></i> 暂停
            </button>
            <button class="btn btn-primary" ng-click="pause(planSetting, false)" ng-if="planSetting.status == PLAN_STATUS.PAUSED">
                <i class="icon-play"></i> 继续
            </button>
            &nbsp;
            <button ng-click="remove(planSetting)" class="btn btn-primary">
                <i class="icon-remove"></i> 删除
            </button>
            &nbsp;
            <div class="btn-group">
                <a href="#/plan-setting/{{planSetting.id}}/edit" class="btn btn-primary">
                    <i class="icon-pencil"></i> 修改
                </a>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#/plan-setting/{{planSetting.id}}/filter">筛选宝贝</a></li>
                    <li><a href="#/plan-setting/{{planSetting.id}}/adjust">修改时间</a></li>
                </ul>
            </div>
        </td>
    </tr>
</table>
<div class="pull-right">
    <pagination items="planSettings" pager-click="jumpPage(page)"></pagination>
</div>

<div class="well" ng-show="planSettings.length<1 && !ajaxing">
    <p>暂时还没有计划呢~</p>
    <a class="btn btn-primary btn-lg" href="#/plan-setting/new">立刻创建计划</a>
</div>