<form class="form-horizontal plan-form" role="form">
    <div class="form-group">
        <label class="col-md-1 control-label">计划名称</label>

        <div class="col-md-6">
            <input type="text" class="form-control" ng-model="planSetting.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">宝贝分类</label>

        <div class="col-md-6">
            <p class="form-control-static">共 {{sellerCats.length}} 个分类，{{sellerCats.length}} 个子分类</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label"></label>
        <div class="col-md-6">
            <div class="checkbox" ng-repeat="sellercat in sellerCats | filter:{parentCid:0}">
                <label>
                    <input type="checkbox" ng-model="sellercat.selected" ng-change="changeSelected(sellercat)" />
                </label>
                <label ng-click="toggleSellerCat(sellercat)" >
                    <span style="width:40px;">
                        <span ng-class="{'icon-caret-down': sellercat.expand, 'icon-caret-right': !sellercat.expand}"></span>
                    </span>
                    <span>{{sellercat.name}} ({{sellercat.itemNum}})</span>
                </label>
                <div class="checkbox" ng-show="sellercat.expand" ng-repeat="childCat in sellerCats | filter:{parentCid:sellercat.cid}">
                    <label>
                        <input type="checkbox" ng-model="childCat.selected" ng-change="changeSelected(childCat)" />
                        {{childCat.name}} ({{childCat.itemNum}})
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">新上架宝贝</label>

        <div class="col-md-6">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="planSetting.autoAddNewItems" /> 自动加入
                </label>
            </div>
        </div>
    </div>
    <div class="form-group form-action">
        <div class="col-md-offset-1 col-md-10">
            <button class="btn btn-primary btn-lg" ng-click="save()">创建计划</button>
            &nbsp;&nbsp;<a href="" ng-click="gotoFilter()">或筛选宝贝</a>
        </div>
    </div>
</form>